doctype html
html
    head
        title rnapp课程管理
        link(href=staticFile('/css/default/style.min.css') rel="stylesheet" type="text/css")
        link(href=staticFile('/css/iconfont/iconfont.css') rel="stylesheet" type="text/css")
        style.
            #course, #section {
                display: none
            }
    body
        #main
            #left
                #search
                    input(type="text")
                    button 查询
                #menu
            #right
                #course
                    include ./courseupload
                #section
                    include ./sectionupload
        script(src=staticFile("/js/jquery-3.2.1.min.js") type="text/javascript")
        script(src=staticFile("/js/jstree.min.js") type="text/javascript")
        script(type="text/javascript").
            $(function () {
                const $jstree = $('#menu');
                let tree = null;
                // 初始化
                $jstree.jstree({
                    core: {
                        multiple: false,
                        check_callback: true,
                        data: !{nodes}
                    },
                    plugins: ['dnd', 'wholerow', 'contextmenu', 'search'],
                    contextmenu: {
                        items: function ($node) {
                            tree = $jstree.jstree(true);
                            return {
                                "Create": {
                                    "separator_before": false,
                                    "separator_after": false,
                                    "label": "Create",
                                    "action": function () {
                                        tree.edit(tree.create_node($node));
                                    }
                                },
                                "Rename": {
                                    "separator_before": false,
                                    "separator_after": false,
                                    "label": "Rename",
                                    "action": function () {
                                        tree.edit($node);
                                    }
                                },
                                "Remove": {
                                    "separator_before": false,
                                    "separator_after": false,
                                    "label": "Remove",
                                    "action": function () {
                                        tree.delete_node($node);
                                    }
                                }
                            };
                        }
                    },
                    dnd: {
                        is_draggable: false
                    }
                });
                // 搜索组件
                $('button')[0].onclick=function () {
                    $('#menu').jstree(true).search($('input')[0].value);
                };
                // 增加节点
                $jstree.on('create_node.jstree', function (e, data) {
                    const $node = data.node;
                    const depth = $node.parents.length;
                    switch (depth) {
                        // 增加course
                        case 2:
                            tree.set_icon($node, 'iconfont icon-tree');
                            ajax('/api/courses', 'post', {
                                course_name: $node.text,
                                category_id: $node.parent
                            }, function (res) {
                                tree.set_id($node, res._id);
                            });
                            break;
                        // 增加chapter
                        case 3:
                            tree.set_icon($node, 'iconfont icon-leaf');
                            ajax(`/api/courses/${$node.parents[0]}/chapters`, 'post', {
                                title: $node.text
                            }, function (res) {
                                tree.set_id($node, res.chapters[res.chapters.length - 1]._id);
                            });
                            break;
                        // 增加section
                        case 4:
                            tree.set_icon($node, 'iconfont icon-blog');
                            ajax(`/api/courses/${$node.parents[1]}/chapters/${$node.parents[0]}/sections`, 'post', {
                                title: $node.text
                            }, function (res) {
                                res.chapters.forEach(function (chapter) {
                                    if (chapter._id === $node.parent) {
                                        tree.set_id($node, chapter.sections[chapter.sections.length - 1]._id);
                                    }
                                });
                            });
                            break;
                        default:
                            tree.delete_node($node);
                    }
                });
                // 给节点重命名
                $jstree.on('rename_node.jstree', function (e, data) {
                    const $node = data.node;
                    const depth = $node.parents.length;
                    switch (depth) {
                        // course重命名
                        case 2:
                            ajax(`/api/courses/${$node.id}`, 'put', {
                                course_name: $node.text
                            });
                            break;
                        // chapter重命名
                        case 3:
                            ajax(`/api/courses/${$node.parent}/chapters/${$node.id}`, 'put', {
                                title: $node.text
                            });
                            break;
                        // section重命名
                        case 4:
                            ajax(`/api/courses/${$node.parents[1]}/chapters/${$node.parents[0]}/sections/${$node.id}`, 'put', {
                                title: $node.text
                            });
                            break;
                    }
                });
                // 删除节点
                $jstree.on('delete_node.jstree', function (e, data) {
                    const $node = data.node;
                    const depth = $node.parents.length;
                    switch (depth) {
                        // 删除course
                        case 2:
                            ajax(`/api/courses/${$node.id}`, 'delete');
                            break;
                        // 删除chapter
                        case 3:
                            ajax(`/api/courses/${$node.parent}/chapters/${$node.id}`, 'delete');
                            break;
                        // 删除section
                        case 4:
                            ajax(`/api/courses/${$node.parents[1]}/chapters/${$node.parents[0]}/sections/${$node.id}`, 'delete');
                            break;
                    }
                });
                // 选择某个节点
                $jstree.on('select_node.jstree', function (e, data) {
                    const $node = data.node;
                    const depth = $node.parents.length;
                    switch (depth) {
                        // 选择courses
                        case 2:
                            location.hash='#course';
                            break;
                        // 选择section
                        case 4:
                            location.hash='#section';
                            break;
                    }
                    console.log($node);
                });
                // 使用hashchange实现简单路由
                $(window).on('hashchange', function (e) {
                    const hash = location.hash;
                    switch (hash) {
                        case '#course':
                            $('#course').show().siblings().hide();
                            break;
                        case '#section':
                            $('#section').show().siblings().hide();
                            break;
                    }
                });
                tree = $jstree.jstree(tree);
                // course更新
                $('#courseform').on('submit', function (e) {
                    e.preventDefault();
                    const formData = new FormData(this);
                    formData.append('courseId', tree.get_selected());
                    $.ajax({
                        url: '/upload/images',
                        type: 'post',
                        async: false,
                        contentType: false,
                        processData: false,
                        data: formData,
                    });
                });
                // section更新
                $('#sectionform').on('submit', function (e) {
                    e.preventDefault();
                    const formData = new FormData(this);
                    $.ajax({
                        url: '/upload/videos',
                        type: 'post',
                        async: false,
                        contentType: false,
                        processData: false,
                        data: formData,
                    });
                });
                /**
                * 一些封装的常用方法
                */
                function ajax (url, method, data, success, complete, error) {
                    $.ajax({
                        url: url,
                        type: method,
                        async: false,
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=UTF-8',
                        success: function (res) {
                            success && success(res);
                        },
                        complete: function (res, status) {
                            complete && complete(res, status);
                        },
                        error: function (res) {
                            error && error(res);
                        }
                    });
                }
            });
